<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Gerenciador de Tarefas</title>
        <!--<link rel="stylesheet" href="normalize.css">-->
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="carousel.css">
    </head>

    <body>
        <header >
            <div class="cabecalho">
                <h1><img src="img\gerenciador.png" alt="Logo do Gerenciador de Tarefas."></h1>
                <nav>
                    <ul>
                        <li><a href="gerenciadorDeTarefas.html">Login</a></li>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="">Institucional</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="conteudo">
          <section class="destaques">
                <div class="destaques__principal caixa">
                    <h2 class="destaques__titulo"><a href="">Criar Tarefas</a></h2>
                </div>
                <div class="destaques__secundario caixa">
                    <h2 class="destaques__titulo">Nova Tarefa</h2>
                </div>
                <div class="destaques__secundario caixa">
                    <h2 class="destaques__titulo">Tarefas Em Andamento</h2>
                </div>
                <div class="destaques__secundario caixa">
                    <h2 class="destaques__titulo">Pendencias/Atrasos</h2>
                </div>
                <div class="destaques__secundario caixa">
                    <h2 class="destaques__titulo">Finalizadas</h2>
                </div>
                <div class="destaques__secundario caixa">
                    <h2 class="destaques__titulo">Histórico</h2>
                </div>                
            </section>
          
        </main>

        <footer>
          <img src="img\marca_d'agua.png" class="marcadagua" alt="Marca d'água do Gerenciador de Tarefas.">
          <p class="fone">Tel.: (41) 3333-9999</p>
          <p class="copyright">&copy; Copyright Gerenciador de Tarefas - 2022</p>
      </footer>
    </body>
</html>        