@{
    ViewData["Title"] = "Home Page";
}

<section class="destaques">
    <div class="destaques__principal caixa">
        <h2 class="destaques__titulo">@Html.ActionLink("Criar Tarefas", "Create", "Todo", "Https", "localhost:5001")</h2>
    </div>
    <div class="destaques__secundario caixa">
        <h2 class="destaques__titulo"><a href="#">Tarefas Recebidas</a></h2>
    </div>
    <div class="destaques__secundario caixa">
        <h2 class="destaques__titulo"><a href="#">Tarefas em Andamento</a></h2>
    </div>
    <div class="destaques__secundario caixa">
        <h2 class="destaques__titulo"><a href="#">Pendências</a></h2>
    </div>
    <div class="destaques__secundario caixa">
        <h2 class="destaques__titulo"><a href="#">Finalizadas</a></h2>
    </div>
    <div class="destaques__secundario caixa">       
        <h2 class="destaques__titulo">@Html.ActionLink("Histórico Tarefas", "Index", "Todo", "Https", "localhost:5001")</h2>
    </div>
</section>
